* {
  font-family: monospace;
  color: black;
  background-color: white;
   }

.cal {
  display: flex;
}

.cal {
  border: 2px solid black;
  border-top-width: 4px;
  font-size: 30px;
  flex-direction: column;
  justify-self: center;
}


.num, .oper, .funcButton {
  height: 65px;
  background-color: grey;
  width: 65px;
  border-radius: 50%;
  border: none;
}


#calButtons {
  flex-direction: row;
  height: 400px;
} 


#calNums {
  display: grid;
  grid: 200px / 70px 70px 70px;
  grid-template-rows: 70px 70px 70px;
  width: 260px;
  height: 240px;
  margin-left: 10px;
  margin-top: 10px;
  border: none;
}

#operators {
  display: grid;
  grid: 60px / 70px;
  grid-template-rows: 70px 70px 70px 75px;
}

.oper {
  margin-left: 2px;
  margin-top: 8px;
}

#calBorder {
  background-color: grey;
  width: 300px;
  height: 450px;
}

#calViewPort {
  justify-self: center;
  background-color: #8FA3A1;
  width: 350;
  height: 70px;
  border: transparent;
}

#zero {
  width: 205px;
  border-radius: 10%;
  margin-top: 10px;
}

#equals {
  background-color: black;
  color: white;
}
