* {
  font-family: monospace;
  color: black;
  background-color: white;
   }

.cal {
  display: flex;
}

.cal {
  border: 2px solid black;
  border-top-width: 4px;
  font-size: 30px;
  flex-direction: column;
  justify-self: center;
}


.num, .oper {
  height: 65px;
  background-color: grey;
  width: 65px;
  border-radius: 50%;
  border: none;
}


#calButtons {
  flex-direction: row;
} 

#calNums {
  display: grid;
  grid: 200px / 70px 70px 70px;
  grid-template-rows: 70px 70px 70px;
  width: 260px;
  height: 200px;
  margin-left: 10px;
  margin-top: 10px;
  border: none;
}

#calBorder {
  background-color: grey;
  width: 300px;
  height: 450px;
}

#calViewPort {
  justify-self: center;
  background-color: #8FA3A1;
  width: 350;
  height: 70px;
  border: transparent;
}

#zero {
  width: 215px;
  border-radius: 10%;
}
